<!DOCTYPE html>
<html lang="en">

<head>
    <title>InResto</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon.png">
    <meta name="theme-color" content="#db0000" />
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css" />
</head>

<body>

    <a href="#main-content" class="skip-link">Menuju ke konten</a>

    <div class="hero">
        <nav class="nav">
            <div class="menu-mob">
                <div>
                    <a href="" class="logo"> InResto </a>
                </div>

                <div class="menu-container">
                    <button class="menu" aria-label="button menu dropdown on mobile" type="button">
                        <span class="fa-solid fa-bars-staggered"></span>
                    </button>
                </div>
            </div>

            <ul class="nav-list">
                <li class="nav-item"><a href="">Home</a></li>
                <li class="nav-item"><a href="#/Favorite">Favorite</a></li>
                <li class="nav-item"><a target="_blank"
                        href="https://www.linkedin.com/in/fachrul-dwi-aprilian-97543b230"
                        rel="noopener noreferrer">About Us</a></li>
            </ul>
        </nav>

        <div class="hero_text">
            <h1 class="hero_title">InResto</h1>
            <p class="hero_tagline">Food is not rational. Food is culture, habit, craving and identity.</p>
        </div>
    </div>

    <main>
        <div tabindex="0" id="main-content" class="main-content_container">
            <h2 tabindex="0" class="main-content_title">Explore Restaurant</h2>
            <section id="explore-restaurant"></section>
        </div>
    </main>

    <footer>
        <p>Copyright © 2022 - InResto</p>
    </footer>
</body>

</html>